extends base.pug
block scripts 
   script(src="/static/cum.js") 
block style 
   style
      include ../static/stylee.css

block content
    
    section#Introsection 
        div Welcome To Ayush Dance Academy    
        div.small Eat Sleep Dance Repeat

    section#ourmission 
         h2 Our Mission
         div.card 
          h3 Dance Perfectinist
          div.card-box
            div.card-img 
              img(src="https://rb.gy/6wr8pv") 
              div.card-content 
               p  Best dance academy of the universe
            
         div.card 
          h3 Dance the way you like
          div.card-box
            div.card-img 
              img(src="https://rb.gy/9k2tlc") 
              div.card-content 
               p  Best dance academy of the universe

         div.card 
          h3 Teaching expert
          div.card-box
            div.card-img 
              img(src="https://rb.gy/yekpxx") 
              div.card-content 
               p Best dance academy of the universe

    section#sponsersection 
         h2 Our Sponser  
         div#sponser 
           img(src="https://rb.gy/n1jxhd", alt="Hp Image" , class="SpImg")
           img(src="https://rb.gy/ei8vh5", alt="Netflix Image" , class="SpImg")
           img(src="https://rb.gy/rnvrxo", alt="Samsung Image" , class="SpImg")
           img(src="https://rb.gy/qtg1ao", alt="Rolex Image" , class="SpImg")
    
         